fastapi
uvicorn
python-multipart
setuptools # Required for namespace packages in some envs
python-dotenv
youtube-transcript-api
openai
yt-dlp
playwright
google-genai>=0.2.0
google-generativeai>=0.8.0 # Added for compatibility and stability
pymupdf
# Force Rebuild 2026-01-12
pytest
authlib
httpx
itsdangerous
firebase-admin
pytubefix
python-pptx
pdf2image
pypdf
rembg
onnxruntime
scikit-image